/* General Styling */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Sections */
.white-section {
  background-color: #ffffff;
}

.colored-section {
  background-color: #2b2929;
  color: white;
}

/* Title Section */
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 63%;
  transform: rotate(30deg);
  position: relative;
  left: 55px;
}

#title {
  color: white;
  text-align: left;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navbar Section */
.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

#navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Features Section */
.features-icons {
  color: #464444;
  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #ff0026;
}

.features-h3 {
  font-size: 1.59rem;
  font-weight: bold;
}

#features {
  padding: 5% 15%;
}

.column {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonial Section */
#testimonials {
  background-color: #2b2929;
  color: white;
  padding: 3% 15%;
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

#press {
  background-color: #2b2929;
  padding-bottom: 3%;
}

.press-image {
  width: 12.5%;
  margin: 10px 30px;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonal-text {
  line-height: 1.5;
  font-size: 3rem;
}

/* Pricing Section */
#pricing {
  padding: 125px 100px 0;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  line-height: 1.5;
  font-size: 3rem;
}

/* Call to Action Section */
#cta {
  color: white;
  padding: 10% 10%;
}

.button {
  margin: 50px 15px;
}

/* Footer Section */
.footer-icons {
  margin: 5% 0.1% 0.5%;
  color: black;
}

.copyright {
  margin: 0 auto 4%;
}

/* Responsive Styling */
@media (max-width: 1183px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: relative;
    transform: rotate(0);
  }

  #testimonials, #press, #pricing, #features {
    position: static;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  /* Adjust images and layout for smaller screens */
  .title-image {
    width: 80%;
    transform: rotate(0);
    left: 0;
    margin: 0 auto;
  }

  .big-heading {
    font-size: 2.5rem;
  }

  #features {
    padding: 10% 5%;
  }

  .carousel-item,
  #pricing,
  #testimonials {
    padding: 10% 5%;
  }

  /* Responsive smartphone image */
  .smartphone {
    width: 80%;
    height: auto;
    max-width: 250px;
  }
}
