/* General Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #1b1b1b;
  --darkBlue: #1e2c40;
  --font-color-primary: #273449;
  --font-color-secondary: #696c87;
  --font-family: "Work Sans", sans-serif;
  --font-size-base: 62.5%; /* Base font size for rem units */
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* Typography */
h1, h2, h3, p {
  color: var(--font-color-primary);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  color: var(--font-color-secondary);
}

/* Responsive Typography */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
}

/* Buttons */
.btn {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  width: 170px;
  height: 45px;
  transition: color 0.3s, background-color 0.3s;
}

.btn:hover {
  cursor: pointer;
}

.btn__outline {
  background: transparent;
  color: white;
  border: 1.5px solid white;
}

.btn__outline:hover {
  background: white;
  color: black;
}

.btn__blue {
  background-color: var(--blue);
  color: white;
}

.btn__blue:hover {
  background: #4bd8ff;
}

/* Cards */
.card {
  display: flex;
  background: #fff;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.15s, background 0.3s;
}

.card:hover {
  background-color: var(--blue);
  transform: scale(1.05);
}

.card__text {
  color: inherit;
  text-align: center;
  transition: color 0.15s;
}

/* Links */
.link {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.15s;
}

.link-footer {
  color: darkgray;
}

.link-footer:hover {
  color: #fff;
}

.link-nav {
  color: #fff;
}

/* Footer */
.footer {
  padding: 3rem 10rem;
  background: var(--darkBlue);
  color: darkgray;
  font-size: 1rem;
}

.footer .btn__wide {
  width: 500px;
  height: 50px;
  margin: 3rem 0 2rem;
}

/* Responsive Layouts */
@media screen and (max-width: 768px) {
  .footer {
    padding: 3rem;
  }
  .cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .btn-subscribe {
    width: 90%;
  }
}
